*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.geral {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 40px 1fr 40px;
    grid-template-columns: 1fr 150px;
    gap: 2px;
}

.caixa {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

#topo {
    background-color: brown;
    grid-area: 1/1/2/-1;
}

#menu {
    background-color: orangered;
    grid-area: 2/1/3/-1;
}

#principal {
    background-color: lightgoldenrodyellow;
    grid-area: 3/1/-2/-2;
}

#secundario {
    background-color: bisque;
    grid-area: 3/-2/-2/-1;
}

#rodape {
    background-color: beige;
    grid-area: -2/-3/-1/-1;
}