@charset "UTF-8";

body {
    background-color: lightseagreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: brown;
    background-color: aliceblue;
}

h2 {
    color: purple;
}

p {
    text-align: justify;
}