@charset "UTF-8";

/* 
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body {
    background-color: rgb(249, 249, 249);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(33, 110, 38);
}

#principal {
    text-align: center;
    background-color: rgb(26, 149, 34);
    color: white;
}

h2 {
    color: rgb(15, 188, 116);
}

.basico {
    color: greenyellow;
    text-align: center;
}

.intermediario {
    color: yellowgreen;
    text-align: right;
}

.avancado {
    color: rgb(255, 111, 0);
    text-align: left;
}

.destaque{
    background-color: #71713d67;
}